html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    line-height: 1;
    background-color: var(--b-c--dark);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    position: sticky;
    top: 0;
    padding: 1em 0;
    background-color: var(--b-c--dark);
    box-shadow: 0px 5px 5px var(--b-c--dark);
    z-index: 999;
}

h1 {
    font: var(--b-f--h1);
    color: var(--b-c--white);
    text-shadow: 3px 3px 5px #66FCF1;
    margin-bottom: 0.5em;
}

h2 {
    font: var(--b-f--h2);
    color: var(--b-c--white);
    margin-bottom: 2em;
    text-shadow: 3px 3px 5px #66FCF1;
}

h2:nth-child(2) {
    font: var(--b-f--h3);
    color: var(--b-c--cyan);
}

h3 {
    font: var(--b-f--h3);
    color: var(--b-c--white);
}

p,
span,
a {
    display: block;
    font: var(--b-f--txt);
    color: var(--b-c--white);
}

a {
    text-decoration: none;
}

section {
    position: relative;
    z-index: 1;
    padding-top: 7em;
    margin-bottom: 10em;
}

section:first-child {
    margin-bottom: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}