.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 1440px;
}

header .container {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}

nav {
  margin: auto 0 10px auto;
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.nav_links a {
  transition: all .3s ease;
}

.nav_links a:hover {
  color: var(--b-c--cyan);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px 20px;
  text-align: center;
}

.adv_cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.adv_cards .card img {
  max-width: 70%;
  margin: auto;
}

.brand-btn {
  width: fit-content;
  padding: 14px 24px;
  color: var(--b-c--dark);
  background-color: var(--b-c--cyan);
  text-shadow: 3px 3px 5px #66FCF1;
  border-radius: 5px;
  margin-top: 3em;
  transition: all .3s ease;
}
.brand-btn:hover {
  background-color: var(--b-c--dcyanL);
  color: var(--b-c--white);
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}


.anim-caple::before {
	position: absolute;
	content: "";
	left: 30%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}




@media (min-width: 768px) {
  .container {
    /* padding-left: 40px; */
    /* padding-right: 40px; */
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav_links {
    flex-direction: row;
  }

  .adv_cards {
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .container {
    /* padding-left: 80px; */
    /* padding-right: 80px; */
  }
}