.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    max-width: 1440px;      
  }
  @media (min-width: 768px) {
    .container {
        /* padding-left: 40px; */
        /* padding-right: 40px; */
    }
  }
  @media (min-width: 1024px) {
    .container {    
        padding-left: 40px;
        padding-right: 40px;            
    }
  }
  @media (min-width: 1440px) {
    .container {
        /* padding-left: 80px; */
        /* padding-right: 80px; */
    }
  }