.visually-hidden {
  position: absolute;
  left: -200vw;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 1440px;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--b-c--dark);
  z-index: 999;
}

.header_logo {
  height: 35px;
}

.btn-nav {
  height: 30px;
  margin: auto 0 0 auto;
}

.btn-nav svg {
  height: 100%;
}

nav {
  padding-top: 55px;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0b0c1092;
  margin: auto 0 10px auto;
  transition: all .5s ease;
}

.nav_links {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 475px;
  text-align: right;
  flex-direction: column;
  gap: 3em;
  background-color: var(--b-c--dark);
  margin: 0 0 auto auto;
  padding-top: 40px;
}

.nav_links a {
  transition: all .3s ease;
  margin-right: 2em
}

.nav_links a:hover {
  color: var(--b-c--cyan);
}

#about .container h1 {
  max-width: 950px;
}

#about .container p {
  max-width: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px 20px;
  text-align: center;
}

.advantages_cards {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* grid-template-columns: repeat(1, 1fr); */
}

.advantages_cards .card img {
  max-width: 70%;
  margin: auto;
}

.brand-btn {
  width: fit-content;
  padding: 14px 24px;
  color: var(--b-c--dark);
  background-color: var(--b-c--cyan);
  text-shadow: 3px 3px 5px #66FCF1;
  border-radius: 5px;
  margin-top: 3em;
  transition: all .3s ease;
}

.brand-btn:hover {
  background-color: var(--b-c--dcyanL);
  color: var(--b-c--white);
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.anim-caple {
  margin-top: 5em;
  position: relative;
  width: fit-content;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 450px;
}

.anim-caple img {
  max-width: 100%;
  max-height: 100%;
}

.anim-caple::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--b-c--dcyanL);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

#services .container {
  /* overflow-x: hidden; */
  position: relative;
}

.services_container {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.services_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all .3s ease;
}

.services_cards .card {
  box-sizing: border-box;
  min-width: 100%;
}

.services_cards .card span {
  display: flex;
  margin: auto auto 0 auto;
}

.services_button {
  position: absolute;
  top: calc(43.2px + 72px);
  bottom: 0;
  width: 20px;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services_button.-prev {
  left: 0px;
  background-image: url(../img/btns/left.svg);
  margin-left: 10px;
}

.services_button.-next {
  right: 0px;
  background-image: url(../img/btns/right.svg);
  margin-right: 10px;
}

.footer_call {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 3em;
}

.footer_call p {
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  gap: 20px;
  font-size: 24px;
}

.footer_call p a {
  color: var(--b-c--cyan);
  font-size: 100%;
}

.footer_social {
  margin: 10px auto;
  padding: 3em 0;
  border-top: 1px solid var(--b-c--white);
  border-bottom: 1px solid var(--b-c--white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_social a img {
  height: 50px;
}

.copyrigth {
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

label,
form {
  display: flex;
  flex-direction: column;
}

label {
  gap: 10px;
}

form {
  background-color: var(--b-c--dark);
  gap: 30px;
  border-radius: 15px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

form h2 {
  margin-bottom: .5em;
  text-align: center;
}

input,
textarea,
form button {
  border: 1px solid var(--b-c--cyan);
  border-radius: 5px;
  background-color: transparent;
  color: var(--b-c--white);
  padding: 10px 15px;
  transition: all .3s ease;
}

form,
input:focus,
textarea:focus {
  border: 1px solid var(--b-c--cyan);
  /* outline: 1px solid var(--b-c--cyan); */
  box-shadow: 3px 3px 5px var(--b-c--cyan), -3px -3px 5px var(--b-c--cyan), 3px -3px 5px var(--b-c--cyan), -3px 3px 5px var(--b-c--cyan);
}

form button {
  color: var(--b-c--white);
}

.err {
  border: 1px solid var(--b-c--red);
  box-shadow: 3px 3px 5px var(--b-c--red), -3px -3px 5px var(--b-c--red), 3px -3px 5px var(--b-c--red), -3px 3px 5px var(--b-c--red);
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.req::after {
  content: ' *';
  color: var(--b-c--red);
}

.req-not::after {
  content: ' (необязательно)';
  color: var(--b-c--dcyanL);
  font-size: 10px;
}

#menu_btn {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: auto 0 auto auto;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#menu_btn span, #menu_btn span:before, #menu_btn span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#menu_btn span:before, #menu_btn span:after {
  content: '';
}
#menu_btn span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#menu_btn span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#menu_btn span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#menu_btn.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#menu_btn.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#menu_btn.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

@media (min-width: 768px) {
  .container {
    /* padding-left: 40px; */
    /* padding-right: 40px; */
  }

  .header_logo {
    height: 40px;
  }

  .services_cards .card {
    min-width: 50%;
  }

  .anim-caple {
    margin-left: auto;
    margin-right: 0;
    margin-top: -3em;
  }

  .advantages_cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_links {
    max-width: 300px;
  }

  form {
    padding: 30px;
  }
}

@media (min-width: 1023px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header_logo {
    height: 45px;
  }

  .btn-nav {
    display: none;
  }

  nav {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: auto 0 8px auto;
    z-index: inherit;
  }

  .nav_links {
    max-width: 100%;
    position: static;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
    text-align: right;
    gap: 10px;
  }

  .advantages_cards {
    gap: 5em;
    grid-template-columns: repeat(3, 1fr);
  }

  .services_cards .card {
    min-width: 33.333333333%;
  }

  .services_button {
    top: calc(57.6px + 96px);
    width: 40px;
  }

  form {
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    /* padding-left: 80px; */
    /* padding-right: 80px; */
  }

  .header_logo {
    height: 50px;
  }

  .services_cards .card {
    min-width: 25%;
  }

  .anim-caple {
    margin-top: -15em;
  }

  form {
    padding: 60px;
  }
}

@media (max-width:1023px) {
  ._hide-menu {
    transform: translateY(-100vh);
  }
}